/day1input.txt
/day2input.txt
/day3input.txt
/day3test.txt
/day4input.txt
/day4test.txt
/day5input.txt
/day5test.txt
/day6input.txt
/day6test.txt
/day7input.txt
/day7test.txt
/day8input.txt
/day8oth.txt
/day8test.txt